@import '../../styles/theme.scss';

.haiku-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .haiku-preview {
        min-width: 250px;
        max-width: 250px;
        margin: $spacing-md;
        font-size: $font-sm;
        line-height: 1.55;

        .haiku-text {
            b {
                font-weight: 700;
                color: $color-secondary;
            }
        }

        .haiku-author {
            margin-top: $spacing-md;
            float: right;
            font-style: italic;
            color: $color-gray-dark;
        }
    }

    .keyword-images {
        display: inline-block;
        flex-grow: 1;
        margin-left: $spacing-lg;
        border-left: solid 1px $color-gray;
        border-right: solid 1px $color-gray;
        border-radius: $border-radius;
        overflow-x: scroll;
        clear: both;
        
        .carousel {
            display: inline-block;
            white-space: nowrap;

            img {
                height: 150px;

                &:not(:last-of-type) {
                    margin-right: $spacing-sm;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .haiku-item {
        flex-wrap: wrap;

        .haiku-preview {
            width: 100%;
            max-width: initial;
            min-width: initial;
            flex-grow: 1;
            text-align: center;

            .haiku-author {
                margin: $spacing-lg 0;
                float: none;
            }
        }

        .keyword-images {
            width: 100%;
            text-align: center;
        }
    }
}